h1{
    color:palegreen;
    .bebas-neue-regular 
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}

h2{
    color:darkseagreen;
}